
<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name , class:"input" %>
    <%= f.input :address, class:"input" %>
    <%= f.input :description, class:"input" %>
    <%= f.input :price_per_night, class:"input" %>
    <%= f.input :number_of_guests, class:"input" %>
     <%= f.button :submit, "Add Flat", class: "btn btn-primary input m-3" %>
  </div>
<% end %>